<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="mahjong-list.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name="mahjong-desk">
  <template>
    <style>
      paper-button {
        color: #fff;
        background-color: #4285f4;
      }
    </style>
    <mahjong-list id="list"></mahjong-list>
    <!-- <paper-button raised on-tap="{{shuffle}}" touch-action="pan-x pan-y">Shuffle</paper-button> -->
  </template>

  <script>
    Polymer({
      shuffle: function(event, detail, sender) {
        this.$.list.shuffle();
      }
    });
  </script>
</polymer-element>