<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="mahjong-tile" attributes="tile">
  <template>
    <style>
      span[dora] {
        color: red;
      }
      span {
        font-family: free-serif;
        font-size: 50px;
        cursor: pointer;
      }
    </style>
    <span dora?="{{tile.dora}}">{{tile.charactor}}</span>
  </template>
  <script>
    Polymer({

    });
  </script>
</polymer-element>