<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="mahjong-tile.html">
<link rel="import" href="../bower_components/polymer-filters/polymer-filters.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">

<polymer-element name="mahjong-list" attributes="tiles tapHandler">
  <template>
    <style>
      .newTile {
        margin-left: 20px;
      }

      div {
        display: inline-block;
      }
    </style>
    <!-- <div>
      <template repeat="{{tile in tiles}}">
        <mahjong-tile data-seq={{tile.seq}} tile="{{tile}}" on-tap="{{tapHandler}}" touch-action="pan-x pan-y"></mahjong-tile>
      </template>
      <mahjong-tile class="newTile" data-seq={{newTile.seq}} tile="{{newTile}}" on-tap="{{tapHandler}}" touch-action="pan-x pan-y"></mahjong-tile>
    </div>
    <div>Remaining:  {{remaining}}</div> -->

    <core-animated-pages id="pages" on-tap="{{reorder}}" selected="{{selected}}" on-core-animated-pages-transition-end="{{done}}" transitions="hero-transition">

      <section>
        <template repeat="{{tile in tiles}}">
          <div hero-id="{{tile.seq}}" hero>
            <mahjong-tile tile="{{tile}}"></mahjong-tile>
          </div>
        </template>
        <div hero-id="{{newTile.seq}}" hero class="newTile">
          <mahjong-tile tile="{{newTile}}" id="newTile"></mahjong-tile>
        </div>
      </section>

      <section>
        <template repeat="{{tile in tiles2}}">
          <div hero-id="{{tile.seq}}" hero>
            <mahjong-tile tile="{{tile}}"></mahjong-tile>
          </div>
        </template>
        <div hero-id="{{newTile.seq}}" hero class="newTile">
          <mahjong-tile tile="{{newTile}}" id="newTile2"></mahjong-tile>
        </div>
      </section>

    </core-animated-pages>
  </template>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    Polymer({
      ready: function(){
        this.socket = io();
        var self = this;
        this.socket.on('shuffle', function(tiles){
          tiles.base.sort(function(a,b){
            return a.seq - b.seq;
          });
          self.tiles = tiles.base;
          self.tiles2 = tiles.base.slice();
          self.newTile = tiles.newTile;
          self.remaining = tiles.remaining;
        });
        this.socket.on('new tile', function(tile){
          self.newTile = tile.newTile;
          self.remaining = tile.remaining;
        });
        this.shuffle();
      },
      shuffle: function() {
        this.socket.emit("shuffle");
      },
      tapHandler: function(event, detail, sender) {
        var seq = parseInt(sender.getAttribute('data-seq'));
        if(this.newTile.seq != seq) {
          for(var i=0; i<this.tiles.length; i++) {
            if (this.tiles[i].seq == seq) {
              break;
            }
          }
          this.tiles.splice(i,1);
          this.tiles.push(this.newTile);
          this.tiles.sort(function(a,b){
            return a.seq - b.seq;
          });
        }
        this.newTile = null;
        this.socket.emit("new tile", seq);
      },
      selected: 0,

      tiles: [
        {charactor: '\ud83c\udc00', dora: false, seq: '1'},
        {charactor: '\ud83c\udc01', dora: false, seq: '2'},
        {charactor: '\ud83c\udc02', dora: false, seq: '3'},
        {charactor: '\ud83c\udc03', dora: false, seq: '4'},
        {charactor: '\ud83c\udc04', dora: false, seq: '5'},
        {charactor: '\ud83c\udc05', dora: false, seq: '6'},
        {charactor: '\ud83c\udc06', dora: false, seq: '7'},
      ],

      tiles2: [
        {charactor: '\ud83c\udc00', dora: false, seq: '1'},
        {charactor: '\ud83c\udc01', dora: false, seq: '2'},
        {charactor: '\ud83c\udc02', dora: false, seq: '3'},
        {charactor: '\ud83c\udc03', dora: false, seq: '4'},
        {charactor: '\ud83c\udc04', dora: false, seq: '5'},
        {charactor: '\ud83c\udc05', dora: false, seq: '6'},
        {charactor: '\ud83c\udc06', dora: false, seq: '7'},
      ],

      reorder: function(e) {
        var tile = e.target.templateInstance.model.tile;
        if (this.$.pages.transitioning.length) {
          return;
        }
        if(tile == undefined) {
          this.newTile = undefined;
          return;
        }
        this.lastMoved = this.$.newTile;
        this.lastMoved.style.zIndex = 10005;
        var tiles = this.selected ? this.tiles : this.tiles2;
        var i = this.selected ? this.tiles2.indexOf(tile) : this.tiles.indexOf(tile);
        tiles.splice(i, 1);
        tiles.push(this.newTile);
        this.newTile = undefined;
        tiles.sort(function(a,b){
          return a.seq - b.seq;
        });

        this.lastIndex = i;
        this.selected = this.selected ? 0 : 1;
      },

      done: function() {
        var i = this.lastIndex;
        var tiles = this.selected ? this.tiles : this.tiles2;
        var tile = tiles[i];
        tiles.splice(i + 1, 1);
        this.lastMoved.style.zIndex = null;
      }
    });
  </script>
</polymer-element>